{% extends 'layout.html' %}

{% block content %}
<div class="timeline">
    <form action="/auth/join" id="join-form" method="post">
        <div class="input-group">
            <label for="join-email">Email</label>
            <input type="email" id="join-email" name="email" required>
        </div>
        <div class="input-group">
            <label for="join-nickname">Nickname</label>
            <input type="text" id="join-nickname" name="nickname" required>
        </div>
        <div class="input-group">
            <label for="join-password">Password</label>
            <input type="password" id="join-password" name="password" required>
        </div>
        <div class="input-group">
            <label for="join-money">Money</label>
            <input type="number" id="join-money" name="money" required>
        </div>
        <button id="join-btn" class="btn" type="submit">Sign Up</button>
    </form>
</div>
<script>
    window.onload = () => {
        if (new URL(location.href).searchParams.get('joinError')) {
            alert(new URL(location.href).searchParams.get('joinError'));
        }
    };
</script>
{% endblock %}