<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width" , user-scalable="no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- @TODO: add style sheet css file -->
</head>

<body>

    {% if user and user.id %}

    <div>Hello 👋🏼 {{user.nickname}}</div>
    <div>Your money: {{user.money}}€</div>

    <a href="/auth/logout">Logout</a>
    <a href="/good">Register goods</a>

    {% else %}

    <form action="/auth/login" method="post">

        <label for="email">Email</label>
        <input type="email" id="email" name="email" required autofocus>

        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>

        <a href="/join">Sign up</a>
        <button type="submit">Login</button>

    </form>

    {% endif %}

    <footer>
        Made by <a href="https://hancandice.github.io" target="_blank">Jeeyoung Han</a>
    </footer>

    {% block content %}
    {% endblock %}

    <script>
        window.onload = () => {
            if (new URL(location.href).searchParams.get("loginError")) {
                alert(new URL(location.href).searchParams.get("loginError"))
            }
        }
    </script>
</body>

</html>